@font-face{
	font-family: light-italic;
	src: url(../fonts/light.woff2);
}
@font-face{
	font-family: thic;
	src: url(../fonts/bold.woff2);
}
@font-face{
font-family: med;
src: url(../fonts/medium.woff);
}
@font-face{
	font-family: norm;
	src: url(../fonts/normal.woff);
}